.vs/
bin/
obj/
artifacts/
**/x64/
**/StarImag.*.*/
installer/redist/*.exe
.dotnet-cli/
.nuget/
tools/vendor/
*.user
*.suo

# Local test documents and samples
/*.psd
/*.psb
/*.pdf
/*.json
!/update.json
